<div *ngIf="card" class="card-container">
  <or-card-actions
    *ngIf="cardLocation !== 'opponent' && cardLocation !== 'trash'"
    [card]="card"
    [players]="players"
    [activePlayer]="activePlayer"
    [cardLocation]="cardLocation"
    [lots]="lotsAvailable"
    (setProperty)="setPropertyHandler($event)"
    (playAgainst)="playAgainstHandler($event)"
    (cardAction)="emitCardAction($event)"
    (setColor)="setPrimaryProperty($event)"
    (payPlayer)="payPlayerHandler($event)"
  >
  </or-card-actions>

  <or-property-card *ngIf="card.type === 'property'" [name]="card.name" [properties]="card.property" [value]="card.value"> </or-property-card>

  <or-currency-card *ngIf="card.type === 'currency'" [name]="card.name" [value]="card.value"></or-currency-card>

  <or-wild-card *ngIf="card.type === 'wild'" [name]="card.name" [properties]="card.property" [value]="card.value"> </or-wild-card>

  <or-rent-card *ngIf="card.type === 'rent'" [name]="card.name" [value]="card.value" [rentColors]="card.rentColors"> </or-rent-card>

  <or-action-card *ngIf="card.type === 'action'" [name]="card.name" [value]="card.value" [description]="card.description"> </or-action-card>
</div>
