@import '../../../assets/styles/colors';

.action-card-container {
  height: 100%;

  .action-card-container-hero {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-top: 42.5px;
    background: $or-text-white;

    span {
      display: block;
      text-align: center;
      font-size: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 700;
      line-height: 36px;
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }

  .card-container-description {
    p {
      font-size: 14px;
      text-align: center;
      padding: 15px;
    }
  }
}
