<div class="opponents-view-container">
  <div *ngFor="let opponent of opponents" class="opponents-view-section">
    <p class="opponent-name">{{ opponent.name }}</p>
    <button mat-button (click)="setBankToView(opponent.bank); openDialog(bankContainer)">View Bank: {{ getBankBalance(opponent.bank) }}</button>
    <div class="opponent-land-container">
      <div *ngFor="let plot of opponent?.land" class="opponent-land-view">
        <div *ngFor="let card of plot" class="property-bar card-bg-{{ card.property[0].color }}">
          {{ card.name }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #bankContainer>
  <div class="bank-container">
    <h4>Bank</h4>
    <span class="bank" *ngFor="let card of bankToView">
      <or-card [card]="card" [cardLocation]="CardLocation.OPPONENT"> </or-card>
    </span>
  </div>
</ng-template>
