.land-container {
  width: 100%;
  overflow: auto;

  &-scroller {
    white-space: nowrap;

    .land {
      display: inline-block;
      white-space: initial;
      width: 250px;
      min-height: 395px;
      vertical-align: top;
      border: 1px solid #ccc;
      margin-left: 0px;
      margin-right: 5px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;

      &.raised {
        .card-container {
          position: absolute;
          z-index: 10;
        }
      }

      .slot {
        margin-top: -325px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.hand-container {
  position: fixed;
  bottom: -100px;
  width: 100%;

  &.spread {
    overflow: auto;
  }

  &-scroller {
    white-space: nowrap;

    .hand {
      display: inline-block;
      white-space: initial;
      width: 250px;
      vertical-align: top;
      margin-left: 0px;
      transition: all 0.3s ease-in-out;

      .card-container {
        transition: all 0.25s ease-in-out;
        transform: translateY(0px);
      }

      &.raised {
        .card-container {
          position: absolute;
          z-index: 10;
          transform: translateY(-100px);
        }
      }
    }
  }
}
