<div class="player-container">
  <div class="player-actions-container">
    <button *ngIf="player?.hand?.length === 0" mat-stroked-button (click)="drawFiveCards()">Draw 5</button>
    <button *ngIf="player?.hand?.length > 0" mat-stroked-button (click)="drawTwoCards()">Draw 2</button>
    <button mat-stroked-button (click)="handClickHandler()">{{ !isHandSpread ? 'Spread Hand' : 'Compact Hand' }}</button>
    <button mat-stroked-button (click)="openDialog(bankContainer)">View Bank: ${{ bankBalance }}</button>

    <button mat-stroked-button (click)="viewTrash(trashContainer)">View Cards Played/Trashed</button>
    <button mat-stroked-button (click)="endTurn()">End Turn</button>
    <button mat-stroked-button (click)="startNewGame()">New Game</button>
    <div class="chat-box-container">
      <mat-form-field appearance="fill">
        <mat-label>Game Log</mat-label>
        <textarea matInput readonly="true" #gameLogContainer>{{ gameLog }}</textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Send Chat</mat-label>
        <input matInput type="text" [(ngModel)]="chatMessage" placeholder="Send Chat" (keydown.enter)="sendChat()" />
      </mat-form-field>
    </div>
  </div>

  <div class="opponents-container" *ngIf="player">
    <or-opponents-view [activePlayer]="player" [gameState]="gameState"> </or-opponents-view>
  </div>

  <div class="land-container">
    <div class="land-container-scroller">
      <span class="land" *ngFor="let land of player?.land; let i = index">
        <div class="slot" *ngFor="let card of land">
          <or-card
            [card]="card"
            [players]="gameState?.players"
            [activePlayer]="player"
            [cardLocation]="CardLocation.LAND"
            [lotsAvailable]="player.land"
            (payPlayer)="payPlayerHandler($event, card)"
            (cardAction)="cardActionHandler(card, $event)"
            (setProperty)="buildLand(card, $event)"
            (updatePropertyOrder)="sortWildCardProperty(card, $event)"
          >
          </or-card>
        </div>
      </span>
    </div>
  </div>

  <ng-template #bankContainer>
    <div class="bank-container">
      <h4>Bank</h4>
      <div class="bank-cards-container">
        <span class="bank" *ngFor="let card of player.bank">
          <or-card
            [card]="card"
            [players]="gameState?.players"
            [activePlayer]="player"
            [cardLocation]="CardLocation.BANK"
            (payPlayer)="payPlayerHandler($event, card)"
            (cardAction)="cardActionHandler(card, $event)"
          >
          </or-card>
        </span>
      </div>
    </div>
  </ng-template>

  <ng-template #trashContainer>
    <div class="bank-container">
      <h4>Trash</h4>
      <div class="bank-cards-container">
        <span class="bank" *ngFor="let card of gameState.trash">
          <or-card [card]="card" [cardLocation]="CardLocation.BANK" (cardAction)="cardActionHandler(card, $event)"> </or-card>
        </span>
      </div>
    </div>
  </ng-template>

  <div class="hand-container" orClickOutside (clickOutside)="raisedCardIndex = -1" #handContainer [class.spread]="isHandSpread">
    <h4>Your Hand</h4>
    <div class="hand-container-scroller" *ngIf="player?.hand.length > 0">
      <span
        class="hand"
        *ngFor="let card of player?.hand; let i = index"
        [style.marginLeft]="i > 0 ? handCardOffset * -1 + 'px' : ''"
        [class.raised]="i === raisedCardIndex"
        (click)="setRaisedCard(i, $event)"
      >
        <or-card
          [card]="card"
          [cardLocation]="CardLocation.HAND"
          [lotsAvailable]="player.land"
          (cardAction)="cardActionHandler(card, $event)"
          (setProperty)="buildLand(card, $event)"
          (updatePropertyOrder)="sortWildCardProperty(card, $event)"
        >
        </or-card>
      </span>
    </div>
  </div>

  <ng-template #unassignedContainer>
    <div class="bank-container">
      <h4>You Must Choose Where to Place Your New Property</h4>
      <span class="bank" *ngFor="let card of player.unAssigned">
        <or-card
          [card]="card"
          [lotsAvailable]="player.land"
          [cardLocation]="CardLocation.UNASSIGNED"
          (setProperty)="buildLand(card, $event)"
          (cardAction)="cardActionHandler(card, $event)"
        >
        </or-card>
      </span>
    </div>
  </ng-template>
</div>
