<div class="player-actions-container">
  <button *ngIf="player?.hand?.length === 0" mat-button (click)="drawFiveCards()">Draw 5</button>
  <button *ngIf="player?.hand?.length > 0" mat-button (click)="drawTwoCards()">Draw 2</button>
  <button mat-button (click)="handClickHandler()">{{ !isHandSpread ? 'Spread Hand' : 'Compact Hand' }}</button>
  <button mat-button (click)="viewBank(bankContainer)">View Bank: ${{ bankBalance }}</button>

  <button mat-button (click)="viewTrash(trashContainer)">View Cards Played/Trashed</button>
  <button mat-button (click)="addFakePlayer()">Swap New PLayer</button>
</div>

<div class="opponents-container">
  <or-opponents-view [activePlayer]="player" [gameState]="gameState"> </or-opponents-view>
</div>

<div class="land-container">
  <div class="land-container-scroller">
    <span class="land" *ngFor="let land of player?.land">
      <div class="slot" *ngFor="let card of land">
        <or-card
          [card]="card"
          [cardLocation]="CardLocation.LAND"
          [lotsAvailable]="player.land"
          (cardAction)="cardActionHandler(card, $event)"
          (setProperty)="buildLand(card, $event)"
          (updatePropertyOrder)="sortWildCardProperty(card, $event)"
        >
        </or-card>
      </div>
    </span>
  </div>
</div>

<ng-template #bankContainer>
  <div class="bank-container">
    <h4>Bank</h4>
    <span class="bank" *ngFor="let card of player.bank">
      <or-card [card]="card" [cardLocation]="CardLocation.BANK" (cardAction)="cardActionHandler(card, $event)"> </or-card>
    </span>
  </div>
</ng-template>

<ng-template #trashContainer>
  <div class="bank-container">
    <h4>Trash</h4>
    <span class="bank" *ngFor="let card of gameState.trash">
      <or-card [card]="card" [cardLocation]="CardLocation.BANK" (cardAction)="cardActionHandler(card, $event)"> </or-card>
    </span>
  </div>
</ng-template>

<div class="hand-container" orClickOutside (clickOutside)="raisedCardIndex = -1" #handContainer [class.spread]="isHandSpread">
  <div class="hand-container-scroller">
    <span
      class="hand"
      *ngFor="let card of player?.hand; let i = index"
      [style.marginLeft]="i > 0 ? handCardOffset * -1 + 'px' : ''"
      [class.raised]="i === raisedCardIndex"
      (click)="setRaisedCard(i, $event)"
    >
      <or-card
        [card]="card"
        [cardLocation]="CardLocation.HAND"
        [lotsAvailable]="player.land"
        (cardAction)="cardActionHandler(card, $event)"
        (setProperty)="buildLand(card, $event)"
        (updatePropertyOrder)="sortWildCardProperty(card, $event)"
      >
      </or-card>
    </span>
  </div>
</div>
