.player-container {
  background: #fafafa;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;

  h4 {
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
  }
}

.player-actions-container {
  .mat-form-field {
    .mat-form-field-infix {
      width: 245px;
    }
  }
}

.bank-cards-container {
  white-space: nowrap;
  overflow: auto;
}

.land-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 270px;

  &-scroller {
    white-space: nowrap;

    .land {
      display: inline-block;
      white-space: initial;
      width: 250px;
      min-height: 395px;
      vertical-align: top;
      border: 1px solid #ccc;
      margin-left: 0px;
      margin-right: 5px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;

      &.raised {
        .card-container {
          position: absolute;
          z-index: 10;
        }
      }

      .slot {
        margin-top: -325px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.hand-container {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: -175px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);

  &.spread {
    overflow: auto;
    bottom: 0;
  }

  &-scroller {
    white-space: nowrap;

    .hand {
      display: inline-block;
      white-space: initial;
      width: 250px;
      vertical-align: top;
      margin-left: 0px;
      transition: all 0.3s ease-in-out;

      .card-container {
        transition: all 0.25s ease-in-out;
        transform: translateY(0px);
      }

      &.raised {
        .card-container {
          position: absolute;
          z-index: 10;
          transform: translateY(-175px);
        }
      }
    }
  }
}
