<router-outlet></router-outlet>
<!-- 
<span class="deck" *ngFor="let card of deck">
  <or-property-card *ngIf="card.type === 'property'" [name]="card.name" [value]="card.value" [properties]="card.property"></or-property-card>
  <or-currency-card *ngIf="card.type === 'currency'" [name]="card.name" [value]="card.value"></or-currency-card>
  <or-wild-card *ngIf="card.type === 'wild'" [name]="card.name" [value]="card.value" [properties]="card.property"> </or-wild-card>
  <or-rent-card *ngIf="card.type === 'rent'" [name]="card.name" [value]="card.value" [rentColors]="card.rentColors"> </or-rent-card>
  <or-action-card *ngIf="card.type === 'action'" [name]="card.name" [value]="card.value" [description]="card.description"> </or-action-card>
</span> -->

