<div class="login-page">
  <div class="login-container">
    <h1>Welcome to Oligopoly Real!</h1>
    <h2>Choose Your Name to Play!</h2>
    <mat-form-field appearance="fill">
      <mat-label>Player Name</mat-label>
      <input matInput [(ngModel)]="name" (keydown.enter)="submit()" type="text" placeholder="Player Name" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submit()">Start a New Game</button>

    <h2 class="join">Join an Existing Game</h2>
    <p>Get the code from your friend and enter that into the room code.</p>
    <mat-form-field appearance="fill">
      <mat-label>Player Name</mat-label>
      <input matInput [(ngModel)]="name" type="text" (keydown.enter)="submit()" placeholder="Player Name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Room Code</mat-label>
      <input
        type="text"
        placeholder="Room Code"
        aria-label="Number"
        matInput
        (keydown.enter)="submit()"
        [formControl]="gameIdControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let game of filteredGameIds | async" [value]="game.gameId"> {{ game.name }} - {{ game.gameId }} </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <small *ngIf="gameExistsError" class="error">This game code does not exist, please double check and try again.</small>

    <button mat-raised-button color="primary" (click)="submit()">Join Existing Game</button>
  </div>
</div>
