<mat-menu #appMenu="matMenu">
  <button [matMenuTriggerFor]="lotMenu" mat-menu-item *ngIf="canAddToProperty">Add to Land</button>
  <button
    (click)="actionHandler(CardAction.PLAY)"
    mat-menu-item
    *ngIf="cardLocation === 'hand' && (cardType === CardType.RENT || cardType === CardType.ACTION)"
  >
    Play Card
  </button>
  <button (click)="actionHandler(CardAction.BANK)" mat-menu-item *ngIf="cardLocation === 'hand'">Add to Bank</button>
  <button [matMenuTriggerFor]="payableMenu" mat-menu-item *ngIf="cardLocation === 'land' || cardLocation === 'bank'">Use to Pay</button>
  <button [matMenuTriggerFor]="colorsMenu" mat-menu-item *ngIf="cardType === 'wild'">Set Color</button>
  <button [matMenuTriggerFor]="lotMenu" mat-menu-item *ngIf="cardLocation === 'land'">Move Property</button>
  <button (click)="actionHandler(CardAction.TRASH)" mat-menu-item *ngIf="cardLocation === 'hand'">Throw Away</button>
</mat-menu>

<mat-menu #colorsMenu="matMenu">
  <button *ngFor="let property of properties" mat-menu-item (click)="colorChangeHandler(property)">{{ property.color }}</button>
</mat-menu>

<mat-menu #lotMenu="matMenu">
  <button *ngFor="let lot of lotsMenu; let i = index" mat-menu-item (click)="setPropertyHandler(i)">Lot #{{ i + 1 }}</button>
</mat-menu>

<mat-menu #payableMenu="matMenu">
  <button *ngFor="let player of payablePlayers" mat-menu-item (click)="payPlayerHandler(player, cardLocation)">{{ player.name }}</button>
</mat-menu>

<button class="action-button" [class.white]="setWhite" mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>
