<mat-menu #appMenu="matMenu">
  <button (click)="actionHandler(CardAction.PLAY)" mat-menu-item *ngIf="cardLocation === 'hand' && cardType === CardType.ACTION">Play Card</button>
  <button (click)="actionHandler(CardAction.BANK)" mat-menu-item *ngIf="cardLocation === 'hand'">Add to Bank</button>
  <button (click)="actionHandler(CardAction.BUILD)" mat-menu-item *ngIf="canAddToProperty">Add to Land</button>
  <button (click)="actionHandler(CardAction.TRASH)" mat-menu-item *ngIf="cardLocation === 'hand'">Throw Away</button>
  <button (click)="actionHandler(CardAction.PAY)" mat-menu-item *ngIf="cardLocation === 'land' || cardLocation === 'bank'">Use to Pay</button>
  <button (click)="actionHandler(CardAction.FLIP)" mat-menu-item *ngIf="cardType === 'wild'">Flip Color</button>
  <button (click)="actionHandler(CardAction.MOVE)" mat-menu-item *ngIf="cardLocation === 'land'">Move Property</button>
</mat-menu>
<button class="action-button" mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>