<div class="card-container property-card-container wild-card-container" (dblclick)="flipCard()">
  <div class="card-value">${{ value }}</div>

  <div class="property-title-container {{ propertyClass }}">
    <span>Wild Card</span>
  </div>

  <div class="property-rent-container">
    <ul>
      <li *ngFor="let rent of properties[0].rents; let i = index">{{ i + 1 }} Property = ${{ rent }} Rent</li>
    </ul>
  </div>

  <div class="reversed-container" *ngIf="properties.length === 2">
    <div class="property-title-container {{ propertyClassReverse }}">
      <span>Wild Card</span>
    </div>

    <div class="property-rent-container">
      <ul>
        <li *ngFor="let rent of properties[1].rents; let i = index">{{ i + 1 }} Property = ${{ rent }} Rent</li>
      </ul>
    </div>
  </div>

  <div class="card-value card-value-bottom">${{ value }}</div>
</div>
