@import '../../../assets/styles/colors';

.wild-card-container {
  .property-title-container-rainbow {
    background: linear-gradient(
      to right,
      $or-red,
      $or-orange,
      $or-yellow,
      $or-green,
      $or-light-green,
      $or-light-blue,
      $or-blue,
      $or-purple,
      $or-brown,
      $or-black
    );

    span {
      background: white;
      padding: 5px 15px;
      border: 2px solid black;
    }
  }

  .property-rent-container {
    ul {
      li {
        margin: 10px 0;
      }
    }
  }

  .reversed-container {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
