.card-container {
  background: $or-text-white;
  border: 1px solid $or-text-black;
  height: 395px;
  width: 250px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  white-space: initial;

  .description {
    margin-top: 15px;
  }

  .action-button {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  h3.action-card-title {
    text-align: center;
    padding-top: 45px;
    font-weight: 700;
  }

  .card-value {
    border: 2px solid $or-text-black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    line-height: 30px;
    top: 5px;
    left: 5px;
    background: $or-text-white;
    font-weight: 700;
    padding: 2px;

    &-bottom {
      top: auto;
      bottom: 5px;
      left: auto;
      right: 5px;
      transform: rotate(180deg);
    }
  }
}

.currency-card-container {
  &-10 {
    background: #b3944f;
  }

  &-1 {
    background: #bac2b2;
  }

  &-2 {
    background: #b7b3ba;
  }

  &-3 {
    background: #b9b8b8;
  }

  &-4 {
    background: #b2c4e0;
  }

  &-5 {
    background: #918bc2;
  }
}

.card-bg {
  &-brown {
    background: $or-brown;
  }

  &-blue {
    background: $or-blue;
  }

  &-green {
    background: $or-green;
  }

  &-light-blue {
    background: $or-light-blue;
  }

  &-orange {
    background: $or-orange;
  }

  &-purple {
    background: $or-purple;
  }

  &-black {
    background: $or-black;
    color: $or-text-white;
  }

  &-red {
    background: $or-red;
  }

  &-light-green {
    background: $or-light-green;
  }

  &-yellow {
    background: $or-yellow;
  }
}
