$or-brown: rgba(152, 81, 55, 0.75); // #985137;
$or-blue: rgba(0, 108, 175, 0.75); // #006CAF;
$or-green: rgba(32, 177, 87, 0.75); // #20B157;
$or-light-blue: #aadcf7;
$or-orange: rgba(250, 149, 37, 0.75); // #FA9525;
$or-purple: rgba(219, 61, 155, 0.75); // #DB3D9B;
$or-black: #1b201e;
$or-red: #f52229;
$or-light-green: #b7cdc0;
$or-yellow: #f6ee14;

$or-text-black: #111215;
$or-text-white: #fafafa;

$or-board-bg: #d0e6cf;
