$or-brown: #7b413d;
$or-blue: #1251a8;
$or-green: #238845;
$or-light-blue: #94bddd;
$or-orange: #d28435;
$or-purple: #b848a7;
$or-black: #18191d;
$or-red: #d2242d;
$or-light-green: #a3b6ad;
$or-yellow: #d8de35;

$or-text-black: #111215;
$or-text-white: #d4dfed;
